.bs-callout.bs-callout-info.idb-help(id="contact")

  - case params['context']
    - when 'sensitive'
      %p(class="idb-callout" )
        In order to deposit data in the Illinois Data Bank,
        %strong you must remove any private, confidential, or other legally protected information
        from the dataset. Please get in touch with the Illinois Databank curation staff so we can assist you with your dataset.
    - else
      %p The Research Data Service has data publishing experts and we're here to help!

  .container-fluid
    .jumbotron
      %h3 Contact Us
      %p
        You can contact us at
        %a(href="mailto: databank@illinois.edu" )
          = "databank@illinois.edu"

    -# = form_tag("/contact_mail", class: "form-horizontal", role: "form") do
    -#
    -#   %input(type="text" name="help-nobots" id="help-nobots" style="display:none;" )
    -#
    -#   .form-group
    -#     %label(for="help-name" class="control-label col-md-2" ) Name
    -#     .col-md-10
    -#       -if current_user
    -#         %input(type="text" name="help-name" id="help-name" class="form-control help" value="#{current_user.name}" )
    -#       -else
    -#         %input(type="text" name="help-name" id="help-name" class="form-control help" placeholder="[Your Name]")
    -#
    -#   .form-group.required
    -#     %label(for="name" class="control-label col-md-2" ) Email
    -#     .col-md-10
    -#       -if current_user
    -#         %input(type="email" name="help-email" id="help-email" class="form-control help" value="#{current_user.email}" required )
    -#       -else
    -#         %input(type="text" name="help-email" id="help-email" class="form-control help" placeholder="[Your Email Address]" required )
    -#
    -#   .form-group
    -#     %label(for="help-topic" class="control-label col-md-2" ) Topic
    -#     .col-md-10
    -#       %select(name="help-topic" id="help-topic" class="form-control help" )
    -#         %option{value: "No Selection Made" } Please Select ...
    -#         %option{value: "Depositing Data"} Depositing Data
    -#         - if params['context'] == 'sensitive'
    -#           %option{value: "Sensitive Data", selected: true} Sensitive Data
    -#         - else
    -#           %option{value: "Sensitive Data"} Sensitive Data
    -#
    -#         - if params['context'] == 'review'
    -#           %option{value: "Dataset Consultation", selected: true} Dataset Consultation
    -#         -else
    -#           %option{value: "Dataset Consultation"} Dataset Consultation
    -#
    -#         -if params['context'] == 'pickup'
    -#           %option{value: "Physical pickup or Globus transfer", selected: true} Physical pickup or Globus transfer
    -#         -else
    -#           %option{value: "Physical pickup or Globus transfer"} Physical pickup or Globus transfer
    -#
    -#         %option{value: "Delaying Publication (Embargo)"} Delaying Publication (Embargo)
    -#         %option{value: "Finding Data"} Finding Data
    -#
    -#         -if params['context']=='feedback'
    -#           %option{value: "Feeback", selected:true} Feedback
    -#         -else
    -#           %option{value: "Feeback"} Feedback
    -#         %option{value: "Other"} Other
    -#   -if @dataset
    -#     .form-group
    -#       %label(for='help-dataset' class="control-label col-md-2" )
    -#         Dataset
    -#       .col-md-10
    -#         %input(type="text" name="help-dataset" id="help-dataset" class="form-control help" value="#{request.base_url}#{dataset_path(@dataset.key)}" readonly=true)
    -#
    -#   .form-group
    -#     %label(for="help-message" class="control-label col-md-2" ) Message
    -#     .col-md-10
    -#       %textarea(rows="6" name="help-message" id="help-message" class="form-control help")
    -#         - if params['context']=='pickup'
    -#           Please contact me to arrange custom transfer of dataset files. My preferred method is:
    -#
    -#   .row
    -#     .pull-right
    -#       =recaptcha_tags
    -#   .row
    -#     .col-md-8.col-md-offset-2
    -#       %em A copy of this email will be sent to you automatically.
    -#     .col-md-2
    -#       %button(type="submit" class="btn btn btn-success btn-block") Send