%div{id: dom_id(curator_report)}
  %p
    %strong Requestor name:
    = curator_report.requestor_name

  %p
    %strong Requestor email:
    = curator_report.requestor_email

  %p
    %strong Report type:
    = curator_report.report_type

  %p
    %strong Storage root:
    = curator_report.storage_root

  %p
    %strong Storage key:
    = curator_report.storage_key

  %p
    %strong Notes:
    = curator_report.notes

