-if Databank::Application.file_mode == Databank::FileMode::READ_ONLY
  .alert.alert-alert
    =SystemMessage.read_only_message.raw

- if (can? :update, @dataset) && (Databank::Application.file_mode == Databank::FileMode::WRITE_READ)
  .idb-dashboard.panel.panel-warning
    .panel-body
      .row
        .col-md-9
          -if (can? :manage, @dataset)
            .curator-only
              -if @dataset.in_pre_publication_review
                .label.label-danger
                  pre-publication review
                &nbsp;
              .label.label-default
                ="updated: #{@dataset.updated_at.to_date.iso8601}"
              &nbsp;
              -if @dataset.ingest_datetime
                .label.label-default
                  ="ingested: #{@dataset.ingest_datetime.to_date.iso8601}"
              -else
                .label.label-default
                  ="ingested: N/A"
              &nbsp;
              -if @dataset.release_datetime
                .label.label-default
                  ="released: #{@dataset.release_datetime.to_date.iso8601}"
              -else
                .label.label-default
                  ="released: N/A"
              &nbsp;
              = " | "
              -if Databank::PublicationState::PUB_ARRAY.include? @dataset.publication_state
                %button(id="resendPubnoteBtn" type="btn" class="btn btn-primary" onclick="sendPublicationNotice()" )
                  Send Publication Notice
            %br

          - if @completion_check == 'ok'
            - if ((can? :manage, @dataset) && (@dataset.publication_state != Databank::PublicationState::DRAFT) && (@dataset.publication_state != Databank::PublicationState::Embargo::METADATA) && (@dataset.embargo == Databank::PublicationState::Embargo::METADATA))
              %span(class="glyphicon glyphicon-alert" )
              Embargo placeholders have not yet replaced DataCite metadata. Confirm to complete changes.
              %br
            -elsif (@dataset.publication_state == Databank::PublicationState::Embargo::METADATA) && (@dataset.embargo != Databank::PublicationState::Embargo::METADATA)
              .datacite-changes-warning
                %span(class="glyphicon glyphicon-alert" )
                This dataset record has not yet been published.  Confirm to complete changes.
                %br
          -elsif @completion_check && @completion_check.length > 0
            .completion-warning
              %span(class="glyphicon glyphicon-alert" )
              = @completion_check
              - if @dataset.publication_state == Databank::PublicationState::DRAFT || (can? :manage, @dataset)
                Edit to complete dataset.
                %br
          %span(class="glyphicon glyphicon-eye-open" )

          .row
            .col-md-6
              = @dataset.visibility
            -if (can? :manage, @dataset)
              .col-md-6
                = link_to "Notes", dataset_notes_path(@dataset), class: "btn idb btn-primary", target: "_blank"
                  %span class: "badge badge-light"
                    =@dataset.notes.count



        .col-md-3

          - if @completion_check == 'ok' && @dataset.in_pre_publication_review
            %button(type="button" class="btn btn-primary btn-block" data-toggle="modal" data-target="#deposit")
              Continue
              %span(class="glyphicon glyphicon-triangle-right" )

          - elsif @completion_check == 'ok'
            -# confirm button conditional complex, so broken into three statements
            -if ((can? :manage, @dataset) && (@dataset.publication_state != Databank::PublicationState::DRAFT) && (@dataset.publication_state != Databank::PublicationState::Embargo::METADATA) && (@dataset.embargo == Databank::PublicationState::Embargo::METADATA))
              =render partial: 'datasets/offer_review_btn'
              -#=render partial: 'datasets/confirm_btn'

            -elsif (@dataset.publication_state == Databank::PublicationState::DRAFT)
              =render partial: 'datasets/offer_review_btn'
              -#=render partial: 'datasets/confirm_btn'

            -elsif @dataset.publication_state == Databank::PublicationState::Embargo::METADATA && @dataset.embargo != Databank::PublicationState::Embargo::METADATA
              =render partial: 'datasets/offer_review_btn'
              -#=render partial: 'datasets/confirm_btn'

          -else
            %button(type="button" id="show-confirm-modal-link" class="btn btn-default btn-block" data-toggle="modal" data-target="#incomplete")
              Confirm
              %span(class="glyphicon glyphicon-triangle-right" )
          = link_to(edit_dataset_path(@dataset), :class => "btn idb btn-success btn-block") do
            %span(class="glyphicon glyphicon-edit")
            Edit
          -if @dataset.publication_state == Databank::PublicationState::DRAFT
            %button(type="button" class="btn btn-info btn-block" name="cancel" onclick='window.location = "/datasets?q=depositors=%5B%5D=#{current_user.name}&context=exit_draft"' )
              %span(class="glyphicon glyphicon-pushpin" )
              Exit this Saved Dataset
          -else
            %button(type="button" class="btn btn-info btn-block" name="cancel" onclick='window.location = "/datasets?q=depositors=%5B%5D==#{current_user.name}&context=exit_doi"' )
              %span(class="glyphicon glyphicon-pushpin" )
              Exit this Saved Dataset
          - if @dataset.publication_state == Databank::PublicationState::DRAFT
            = link_to(dataset_path(@dataset.key), method: :delete, data: {confirm: 'Are you sure? This removes all files and metadata.'}, class: "btn idb btn-danger btn-block") do
              %span(class="glyphicon glyphicon-trash" )
              Delete


