%h3
  Notes for:
  =link_to "#{@dataset.title}", dataset_path(@dataset.key)
= @dataset.plain_text_citation
%br

%hr

%table.table.table-striped
  %thead
    %tr
      %th.col-md-7 Note
      %th.col-md-2 Author
      %th.col-md-1
      %th.col-md-1
      %th.col-md-1

  %tbody
    - @notes.each do |note|
      %tr
        %td= note.body
        %td= "#{note.author}\ncreated: #{note.created_at.iso8601}\nupdated:#{note.updated_at.iso8601}"
        %td= link_to 'Show', "/datasets/#{@dataset.key}/notes/#{note.id}", class: "btn idb btn-primary btn-block"
        %td= link_to 'Edit', "/datasets/#{@dataset.key}/notes/#{note.id}/edit", class: "btn idb btn-success btn-block"
        %td= link_to 'Destroy', "/datasets/#{@dataset.key}/notes/#{note.id}", method: :delete, data: { confirm: 'Are you sure?' }, class: "btn idb btn-danger btn-block"

%br

= link_to 'New Note', new_dataset_note_path(@dataset)
