%p#notice= notice

%p
  %b Dataset:
  = render 'datasets/brief_record', dataset: @note.dataset
%p
  %b Body:
  = @note.body
%p
  %b Author:
  = @note.author

= link_to 'Edit', edit_note_path(@note)
\|
= link_to 'Back', notes_path
