%p#notice= notice

%p
  %b Dataset:
  = render 'datasets/brief_record', dataset: @note.dataset
%p
  %b Body:
  = @note.body
%p
  %b Author:
  = @note.author

= link_to 'Edit', [:edit, @dataset, @note]
\|
= link_to 'Back', dataset_notes_path(@dataset)
