.modal.fade.modal-lg(id="api_modal" role="dialog" )
  .modal-content
    .modal-header
      %a(href="#" class="close" data-dismiss="modal")
        &times;
      %h1 OPTIONS: Python, cURL, or custom script

    .modal-body

      %h3(id='token-header') Here is your token:
      .indent
        .current-token
        %strong Dataset identifier:
        =@dataset.key
        (Unique and persistent identifier for this dataset within Illinois Data Bank)
        .instruction-box
          Your token and dataset identifier are pre-populated into example commands in sections below.
          %br
          Expand Python or cURL section to see the example command for that option.
        %br
      .panel-group(id="python" role="tablist" aria-multiselectable="true")
        .panel.panel-default
          .panel-heading(role="tab" id="pythonHeading")
            %h4(class="panel-title")
              %a( role="button" data-toggle="collapse" data-parent="#python" href="#pythonPanel" aria-expanded="false" aria-controls="pythonPanel" class="accordion-toggle collapsed" )
                %span( class="metadata-label" ) Use our sample Python file upload script. (click to expand)
          .panel-collapse.collapse(id="pythonPanel" role="tabpanel" aria-labelledby="pythonHeading" )
            .panel-body

              %p
                Download our sample python client
                %a(href="#{IDB_CONFIG[:root_url_text]}/databank_api_client_v2.py" target="_blank" ) databank_api_client_v2.py

              %p
                Requires recent version of
                =succeed(",") do
                  %a(href="https://www.python.org/" ) python 2 or 3
                %em works on files up to 2 TB.
              %p Required Modules
              %pre
                %code
                  = simple_format("pip install tuspy\npip install requests\npip install urllib3[secure]")

              %p Copy and paste this command example. Just change "myfile.csv" to your own data file's name.
              .command-to-copy
                %pre
                  %code
                    ="python databank_api_client.py #{@dataset.key} [TOKEN] myfile.csv "

              %p
                For more help, and for notes on using this script on
                =succeed(",") do
                  %strong biocluster2, AWS, or the Vitual Hosting Group on campus
                see the
                =succeed(",") do
                  %a(href="/help#api" ) Command Line Tools / API Reference
                or
                =succeed(".") do
                  %a(href="/help#contact") Contact Us

      .panel-group(id="cURL" role="tablist" aria-multiselectable="true")
        .panel.panel-default
          .panel-heading(role="tab" id="cURLHeading")
            %h4(class="panel-title")
              %a( role="button" data-toggle="collapse" data-parent="#cURL" href="#cURLPanel" aria-expanded="false" aria-controls="cURLPanel" class="accordion-toggle collapsed" )
                %span( class="metadata-label" ) Execute a cURL command. (click to expand)
          .panel-collapse.collapse(id="cURLPanel" role="tabpanel" aria-labelledby="cURLHeading" )
            .panel-body
              %p
                Requires
                =succeed(",") do
                  %a(href="https://curl.haxx.se/" target="_blank" ) cURL
                %em works on files up to 4 GB.

              %p Copy and paste this command example. Where it says "binary=@myfile.csv", replace myfile.csv with your data file's name. Keep "binary=@" as it is.

              .curl-to-copy
                %pre
                  %code
                    = %Q[curl -F "binary=@my_datafile.csv" -H "Authorization: Token token=authentication_token" -H "Transfer-Encoding: chunked" -X POST #{IDB_CONFIG[:root_url_text]}/api/dataset/dataset_key/datafile -o output.txt]
                    -if IDB_CONFIG[:root_url_text].include?("dev")
                      = %Q[-k]

              %p
                For more help, see the
                =succeed(",") do
                  %a(href="/help#api" ) Command Line Tools / API Reference
                or
                =succeed(".") do
                  %a(href="/help#contact") Contact Us


      .panel-group(id="script" role="tablist" aria-multiselectable="true")
        .panel.panel-default
          .panel-heading(role="tab" id="scriptHeading")
            %h4(class="panel-title")
              %a(role="button" data-toggle="collapse" data-parent="#script" href="#scriptPanel" aria-expanded="false" aria-controls="scriptPanel" class="accordion-toggle collapsed" )
                %span( class="metadata-label" ) Create your own custom script using our API. (click to expand)
          .panel-collapse.collapse(id="scriptPanel" role="tabpanel" aria-labelledby="scriptHeading" )
            .panel-body
              %p
                %em Size constraints depend on implementation details.
              %p
                See the
                =succeed(",") do
                  %a(href="/help#api" ) Command Line Tools / API Reference
                or
                =succeed(".") do
                  %a(href="/help#contact") Contact Us
      %p
        %strong
          You can see this screen again by clicking the command line tools token option again from the edit dataset screen, as you did to get here this time.

    .modal-footer
      .control-group
        .controls
          %button(type="button" class="btn btn-danger" data-dismiss="modal")
            %span(class="glyphicon glyphicon-remove" )
            Close
