%div(id="datafiles-form")
  %input(type="hidden" name="datafile_index_max" id="datafile_index_max" value="#{@dataset.complete_datafiles.count.to_i}" )
  .panel-group(id="files" role="tablist" aria-multiselectable="true" style="display: #{@dataset.complete_datafiles.count > 0 ? 'block' : 'none' }")
    .panel.panel-default
      .panel-heading(role="tab" id="filesHeading")
        %h4(class="panel-title")
          %a(class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#files" href="#collapseFiles" aria-expanded="true" aria-controls="collapseFiles" )
            %span(class="metadata-label" ) Files
      .panel-collapse.collapse.in(id="collapseFiles" role="tabpanel" aria-labelledby="filesHeading" )
        .panel-body
          %table(class="table table-striped" id="datafiles")
            %tbody
              -if @dataset.complete_datafiles.count > 0
                -if current_user && current_user.role == 'admin'
                  %tr
                    %td.curator-only
                      %span.col-md-4.col-md-offset-4
                        %a(href="/datasets/#{@dataset.key}/datafiles" class="btn btn-primary btn-block idb")
                          Advanced File Management

                -if (@dataset.publication_state == Databank::PublicationState::DRAFT) && ( (can? :manage, @dataset ) ||  (can? :update, @dataset) )
                  %tr
                    .row
                      %span.col-md-4
                        %button(class="btn btn-danger" type="button" onclick="deleteSelected()")
                          Delete Selected
                          %span.checkFileSelectedCount
                          %span.glyphicon.glyphicon-trash

                    .row
                      %span.checkbox.col-md-4
                        %label
                          %input(type="checkbox" id="checkAllFiles" value="checkAllFiles")
                            Select all
                            =surround "(", ")" do
                              %span(id = "datafilesCount")
                                = @dataset.complete_datafiles.count

                -@dataset.complete_datafiles.each_with_index do |datafile, i|
                  = f.fields_for :datafiles, datafile do |df|
                    %tr(id="datafile_index_#{i}")
                      %td
                        .row.checkbox
                          %span(class="col-md-8")
                            -if (@dataset.publication_state == Databank::PublicationState::DRAFT) && ( (can? :manage, @dataset ) ||  (can? :update, @dataset) )
                              %label
                                %input(type="checkbox" class="checkFile checkFileGroup" name="selected_files[]" value="#{i}" onchange="handleCheckFileGroupChange()" )
                                =datafile.bytestream_name
                            -else
                              = datafile.bytestream_name
                            %input(type="text" class="bytestream_name" value="#{datafile.bytestream_name}" )
                          %span(class="col-md-2")
                            = number_to_human_size(datafile.bytestream_size)
                          %span(class="col-md-2")
                            - if (@dataset.publication_state == Databank::PublicationState::DRAFT) && ( (can? :manage, @dataset ) ||  (can? :update, @dataset) )
                              %button(type="button" id="remove_#{i}" class="btn btn-danger btn-sm" onclick="remove_file_row(#{i})")
                                %span(class="glyphicon glyphicon-trash")
                          = df.hidden_field :_destroy, value: false
                          = df.hidden_field :web_id
              -if @dataset.incomplete_datafiles.count > 0
                -@dataset.incomplete_datafiles.each do |datafile|
                  -if datafile.job_id
                    %tr(id="job#{datafile.job_id}")
                      %td
                        .row
                          %span(class="col-md-4")
                            = datafile.box_filename
                          %span(class="col-md-8")
                            %span(class="metadata-label")
                              STATUS:
                            %span(class="metadata-value" )
                              -if datafile.job && datafile.job.progress_current
                                = datafile.job_status
                              -else
                                %em error

          %div(id="datafiles_upload_progress")