= render partial: 'datasets/help/orcid_help_modal'
= render partial: 'datasets/help/primary_contact_help_modal'
%label(class="control-label required")
  Author List (One primary long-term contact must be selected from this list.)
  %a(href="#" data-toggle="modal" data-target="#offerOrgAuthModal" tabindex="-1" )
    %span(class="far fa-question-circle")
    %span(class="idb-help-prompt" )
      citing organization as author?
%br
%input(type="hidden" name="creator_index_max" id="creator_index_max" value="#{@dataset.creators.count.to_i}" )

%table(id="creator_table" class="table" )
  %thead
    %tr(class="row" )
      %th
      %th(class="col-md-2")
        .form-heading-required
          Family Name(s)
      %th(class="col-md-2")
        .form-heading-required
          Given Name(s)
      %th(class="col-md-2")
        ORCiD®
        %a(href="#" data-toggle="modal" data-target="#orcidHelpModal" tabindex="-1" )
          =image_tag 'iD_icon_16x16.png'
          %span(class="idb-help-prompt" )
            what's this?
      %th(class="col-md-1")
      %th(class="col-md-2")
        .form-heading-required
          Email
      %th(class="col-md-2" )
        Primary Contact
        %a(href="#" data-toggle="modal" data-target="#primaryContactModal" tabindex="-1" )
          %span(class="far fa-question-circle")
          %span(class="idb-help-prompt" )
            what's this?
      %th(class="col-md-1")

  %tbody

  - @dataset.creators.each_with_index do |creator, i|

    = f.fields_for :creators, creator do |cf|
      %tr(class="item row" id="creator_index_#{i}" )
        %td
          %span(style='display:inline;' class='glyphicon glyphicon-resize-vertical')
        %td(class="col-md-2")
          = cf.hidden_field :_destroy, value: false
          = cf.hidden_field :row_position # value set via AJAX
          = cf.hidden_field :type_of, value: Databank::CreatorType::PERSON

          = cf.text_field :family_name, class: "form-control dataset creator", placeholder: "[e.g.: Smith]", onchange: "generate_creator_preview()"
        %td(class="col-md-2")
          = cf.text_field :given_name, class: "form-control dataset creator", placeholder: "[e.g.: Jean W.]", onchange: "generate_creator_preview()"
        %td(class="col-md-2")
          = cf.text_field :identifier, class: "form-control dataset", "data-mask" => "9999-9999-9999-999*", placeholder: "[xxxx-xxxx-xxxx-xxxx]"
          = cf.hidden_field :identifier_scheme, value: "ORCID"
        %td(class="col-md-1" )

          %button(type="button" class="btn btn-primary btn-block orcid-search-btn" onclick="showCreatorOrcidSearchModal('#{i}')" )
            %span(class="glyphicon glyphicon-search" )
            Look Up &nbsp;
            =image_tag 'iD_icon_16x16.png'
        %td(class="col-md-2")
          = cf.email_field :email, class: "form-control dataset creator-email", placeholder: "[e.g.: netid@illinois.edu]", onchange: "handle_creator_email_change(this)"
        %td(class="col-md-1" align="center" )
          = cf.hidden_field :is_contact
          -#%input(name="dataset[creators_attributes][#{i}][is_contact]" type="hidden" value="#{creator.is_contact?}")
          - if creator.is_contact?
            %input(type="radio" name="primary_contact" class="dataset contact_radio" value="#{i}" onchange="handle_contact_change()" checked="true" )
          -else
            %input(type="radio" name="primary_contact" class="dataset contact_radio" value="#{i}" onchange="handle_contact_change()" )
        %td(class="col-md-1")
-# Add/Remove Creator buttons inserted via ajax
%table(id="deleted_creator_table")
  %tbody