<% if current_user&.provider == 'identity' && current_user.role == Databank::UserRole::NETWORK_REVIEWER %>
  <%= render partial: 'data_curation_network/heading' %>
<% end %>

<% version_group = @dataset.version_group %>

<% if [Databank::PublicationState::RELEASED, Databank::PublicationState::TempSuppress::FILE, Databank::PublicationState::Embargo::FILE].include?(@dataset.publication_state) %>
  <%= @dataset.structured_data.html_safe %>
<% end %>

<%= render partial: 'download_link_modal' %>
<% if (can? :update, @dataset) %>
  <%= render partial: 'offer_review_h_modal' %>
  <%= render partial: 'confirm_deposit_modal' %>
  <%= render partial: 'datasets/dashboards/show' %>
  <%= render partial: 'incomplete_deposit_modal' %>
<% end %>
<% if (can? :manage, @dataset) %>
  <%= render partial: 'permissions' %>
  <%= render partial: 'review_requests' %>
<% end %>
<% if ((can? :manage, @dataset) && (@dataset.publication_state != Databank::PublicationState::DRAFT)) %>
  <%= render partial: 'curator_access_controls' %>
<% end %>

<div id="main-show-div">

  <!-- BEGIN metadata section-->
  <% if version_group && version_group[:entries] && version_group[:entries].length > 1 && @dataset.dataset_version.to_i > 0 && (version_group[:entries][0][:version]).to_i > @dataset.dataset_version.to_i %>

    <div class="selected-version boxed-alert">
      A newer version of this dataset is available.
      <a href="<%= @dataset.persistent_url_base %>/<%= version_group[:entries][0][:doi] %>">View the latest version.</a>
    </div>

  <% end %>

  <%= render partial: 'metadata_restriction_alert', locals: {dataset: @dataset} %>

  <% if (can? :read, @dataset) %>
    <%= render partial: 'show_metadata', locals: {dataset: @dataset} %>
  <% end %>

  <!-- END metadata section-->
  <div class="panel-group" id="versionGroup" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="versionGroupHeading">
        <h4 class="panel-title">

          <% if version_group && version_group[:entries] && version_group[:entries].length > 1 %>
            <a role="button" data-toggle="collapse" data-parent="#versionGroup" href="#versionGroupPanel" aria-expanded="true" aria-controls="versionGroupPanel" class="accordion-toggle">
              <span class="metadata-label">Versions in Illinois Data Bank</span>
            </a>
          <% else %>
            <a role="button" data-toggle="collapse" data-parent="#versionGroup" href="#versionGroupPanel" aria-expanded="false" aria-controls="versionGroupPanel" class="accordion-toggle collapsed">
              <span class="metadata-label">Versions</span>
            </a>
          <% end %>
        </h4>
      </div>
      <div class="panel-collapse collapse
        <% if version_group && version_group[:entries] && version_group[:entries].length > 1 %> in
        <% end %>" id="versionGroupPanel" role="tabpanel" aria-labelledby="versionGroupHeading">
        <div class="panel-body">

          <% if version_group[:status] == 'error' %>
            <%= version_group[:error] %>
          <% else %>

            <table class="table table-striped">
              <thead>
              <tr>
                <th class="text-center">Version</th>
                <th>DOI</th>
                <th>Comment</th>
                <th>Publication Date</th>
              </tr>
              </thead>
              <tbody>

              <% version_group[:entries].each do |entry| %>

                <tr
                <% if entry[:selected] %> class="selected-version"
                <% end %> >
                  <td class="text-center"><%= entry[:version] %></td>
                  <td><a href="<%= @dataset.persistent_url_base %>/<%= entry[:doi] %>"><%= entry[:doi] %></a></td>
                  <td><%= entry[:version_comment] %></td>
                  <td><%= entry[:publication_date] %></td>
                </tr>
              <% end %>
              </tbody>
            </table>

          <% end %>

        </div>
      </div>
    </div>
  </div>

  <!-- BEGIN file section -->

  <%= render partial: 'datasets/show_files', locals: {dataset: @dataset} %>

  <!-- END file section -->


  <% if @dataset.publication_state != Databank::PublicationState::DRAFT %>

    <% if (can? :manage, @dataset) || ([Databank::PublicationState::RELEASED, Databank::PublicationState::PermSuppress::FILE, Databank::PublicationState::Embargo::FILE].include?(@dataset.publication_state) && @dataset.hold_state != Databank::PublicationState::TempSuppress::METADATA && !@dataset.suppress_changelog) %>
      <div class="panel-group" id="changelog" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="changelogHeading">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#changelog" href="#changelogPanel" aria-expanded="false" aria-controls="changelogPanel" class="accordion-toggle collapsed">
                <span class="metadata-label">Change Log</span>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" id="changelogPanel" role="tabpanel" aria-labelledby="changelogHeading">
            <div class="panel-body">
              <p><a href="/help?context=changelog&key=<%= @dataset.key %>">Contact the Research Data Service</a> for
                help interpreting this log.</p>

              <%= render partial: "show_changelog" %>

            </div>
          </div>
        </div>
      </div>

    <% end %>

  <% end %>

  <% if can? :update, @dataset %>
    <a href="/datasets/<%= @dataset.key %>/review_deposit_agreement">Review Deposit Agreement</a>
  <% end %>

</div>

<% if can? :manage, @dataset && @dataset.publication_state != Databank::PublicationState::DRAFT %>

  <div class="curator-only">
    <% unless @datacite_fabrica_url.include?("test") %>
      <p>DOIs will be indexed into DataCite Search 8 to 24 hrs after being created.</p>
      <p>Once it is available, see DataCite Search result at: <a href="https://search.datacite.org/works/<%= @dataset.identifier %>"><%="https://search.datacite.org/works/#{@dataset.identifier}"%></a></p>
    <% end %>
    <p>Log into <a href="<%=@datacite_fabrica_url%>">DataCite Fabrica interface</a> for more details about DataCite's test record for this DOI.</p>

  </div>

  <!--<div class="curator-only">
    <p><a href="http://ezid.lib.purdue.edu/manage/display_xml/doi:<%#= @dataset.identifier %>" target="_blank">DataCite
      Metadata in XML format (via EZID)</a></p>

    <p>
      <a href="http://ezid.lib.purdue.edu/id/doi:<%#= @dataset.identifier %>" target="_blank">DataCite Metadata on
        EZID
        page</a>
    </p>
  </div>-->

<% end %>

<% if (can? :manage, @dataset) %>
  <div class="curator-only">

    <% if @dataset.fileset_preserved? %>
      <p> To view in Medusa:
        <a href="<%= IDB_CONFIG['medusa']['datasets_url_base']%><%= @dataset.medusa_dataset_dir %>"><%= IDB_CONFIG['medusa']['datasets_url_base']%><%= @dataset.medusa_dataset_dir %></a>
      </p>
    <% else%>
      <p>
        This is not yet in Medusa, but when it is, it will be in Medusa's <a href="<%= IDB_CONFIG['medusa']['file_group_url'] %>">Illinois Data Bank file group</a>.
      </p>
    <% end %>

    <div class="panel-group" id="medusa" role="tablist" aria-multiselectable="true">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="medusaHeading">
          <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#medusa" href="#medusaPanel" aria-expanded="false" aria-controls="medusaPanel" class="accordion-toggle collapsed">
              <span class="metadata-label">Medusa Ingest Details</span>
            </a>
          </h4>
        </div>
        <div class="panel-collapse collapse" id="medusaPanel" role="tabpanel" aria-labelledby="medusaHeading">
          <div class="panel-body">
            <%= render partial: "show_medusa" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>


<% if (@dataset.title) && (@dataset.title.downcase.include? 'unicorn') && ((can? :update, @dataset) && [Databank::PublicationState::RELEASED, Databank::PublicationState::Embargo::FILE].include?(@dataset.publication_state)) %>
  <div class="pull-right">
    <%= image_tag('Rainbow_Unicorn.png') %>
  </div>
<% end %>