%form(action="/datasets" id="searchForm" accept-charset="UTF-8" method="get" )
  .row
    .col-md-5
      .input-group.search-control
        -if params.has_key?('q') && params['q'] && params['q'].length > 0
          %input(type="text" class="form-control q" name="q" aria-label="search input box" value="#{params['q']}" )
        -else
          %input(type="text" class="form-control q" name="q" aria-label="search input box" placeholder="search for datasets" )
        %span(class="input-group-btn" )
          %button(type="submit" class="btn btn-primary" id="submitSearch")
            %span(class="glyphicon glyphicon-search" aria-hidden="true" )
          %button(type="button" class="btn btn-danger" onclick="clearSearchTerm()" )
            %span(class="glyphicon glyphicon-remove" aria-hidden="true" )
    .col-md-5
      = will_paginate @search.results, previous_label: "<".html_safe, next_label: ">".html_safe, renderer: BootstrapPagination::Rails

    .col-md-2
      = select_tag :per_page, options_for_select([['25 per page', '25'], ['50 per page', '50'], ['Show All', '500']], params[:per_page]), onchange: 'set_per_page()', class: "form-control search-control"

  .row
    .col-md-7.col-md-offset-5
      -# page_entries_info stopped working ~2021-04
      -#=page_entries_info(@search.results)
      -sr = @search.results
      = "Displaying datasets #{sr.offset + 1} - #{sr.offset + sr.length} of #{sr.total_entries} in total"

  .row
    .col-md-5

      %button(type="button" class="btn btn-success" onclick="clearFilters()")
        Clear Filters
      -if @search && @search.total > 0
        %button(type="button" class="btn btn-primary" onclick="generateReport()" )
          Generate Report from Search Results
      -if @search.total < 1
        .indent
          %em no results found
      -else
        -if current_user && current_user.role == 'depositor'

          .panel-group
            .panel.panel-default
              .panel-heading
                %h4(class="panel-title")
                  My Datasets

              .panel-body
                -current_user_facet_exists = false
                -@search.facet(:depositor).rows.each do |row|
                  -row_arr = row.value.split("|")
                  .facet
                    -if row_arr[0] == current_user.username && params.has_key?('depositors') && params['depositors'].include?(row_arr[0])
                      %input(id="justMine" type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row_arr[0]}" onchange="handleFilterChange()" checked=true)
                        Just My Datasets
                        ="(#{row.count})"
                        -current_user_facet_exists = true
                    -elsif row_arr[0] == current_user.username
                      %input(id="justMine" type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row_arr[0]}" onchange="handleFilterChange()" checked=false)
                        Just My Datasets
                        ="(#{row.count})"
                        -current_user_facet_exists = true
                - if current_user_facet_exists == false
                  %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{current_user.username}" onchange="handleFilterChange()" checked=false disabled = true)
                    Just My Datasets
                    ="(0)"


          -if current_user && current_user.role == 'depositor' && params.has_key?('depositors') && params['depositors'].include?(current_user.username)
            .indent
              .panel-group
                .panel.panel-default
                  .panel-heading
                    %h4(class="panel-title")
                      My Datasets By Visibility
                  .panel-body

                    -for row in @search.facet(:visibility_code).rows
                      .facet
                        -if params.has_key?('visibility_codes') && params['visibility_codes'].include?(row.value)
                          %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                          = Dataset.visibility_name_from_code(row.value)
                          ="(#{row.count})"
                        -else
                          %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                          = Dataset.visibility_name_from_code(row.value)
                          ="(#{row.count})"


        -if current_user && current_user.role == 'admin'

          .panel-group
            .panel.panel-default
              .panel-heading
                %h4(class="panel-title")
                  Depositor
              .panel-body
                -for row in @search.facet(:depositor).rows
                  -row_arr = row.value.split("|")
                  .facet
                    -if params.has_key?('depositors') && params['depositors'].include?(row_arr[0])
                      %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row_arr[0]}" onchange="handleFilterChange()" checked=true)
                        = row_arr[1]
                        ="(#{row.count})"
                    -else
                      %input(type="checkbox" class="checkFacet checkFacetGroup depositor_facet" name="depositors[]" value="#{row_arr[0]}" onchange="handleFilterChange()" checked=false)
                        = row_arr[1]
                        ="(#{row.count})"


        .panel-group
          .panel.panel-default
            .panel-heading
              %h4(class="panel-title")
                Subject Area
            .panel-body
              -for row in @search.facet(:subject_text).rows
                .facet
                  -if params.has_key?('subjects') && params['subjects'].include?(row.value)
                    %input(type="checkbox" class="checkFacet checkFacetGroup subject_facet" name="subjects[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                      - if row.value =='None'
                        Uncategorized
                      -else
                        = row.value
                      ="(#{row.count})"
                  -else
                    %input(type="checkbox" class="checkFacet checkFacetGroup subject_facet" name="subjects[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                      - if row.value =='None'
                        Uncategorized
                      -else
                        = row.value
                      ="(#{row.count})"

        .panel-group
          .panel.panel-default
            .panel-heading
              %h4(class="panel-title")
                Funder
            .panel-body
              -for row in @search.facet(:funder_codes).rows
                .facet
                  -if params.has_key?('funder_codes') && params['funder_codes'].include?(row.value)
                    %input(type="checkbox" class="checkFacet checkFacetGroup funder_facet" name="funder_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                      = Dataset.funder_name_from_code(row.value)
                      ="(#{row.count})"
                  -else
                    %input(type="checkbox" class="checkFacet checkFacetGroup funder_facet" name="funder_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                      = Dataset.funder_name_from_code(row.value)
                      ="(#{row.count})"
        .panel-group
          .panel.panel-default
            .panel-heading
              %h4(class="panel-title")
                Publication Year
            .panel-body
              -@search.facet(:publication_year).rows.each do |row|

                - if row.value != ""

                  .facet
                    -if params.has_key?('publication_years') && params['publication_years'].include?(row.value)
                      %input(type="checkbox" class="checkFacet checkFacetGroup publication_year_facet" name="publication_years[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                        = row.value
                        ="(#{row.count})"
                    -else
                      %input(type="checkbox" class="checkFacet checkFacetGroup publication_year_facet" name="publication_years[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                        = row.value
                        ="(#{row.count})"


        .panel-group
          .panel.panel-default
            .panel-heading
              %h4(class="panel-title")
                License
            .panel-body
              -@search.facet(:license_code).rows.each do |row|

                - if row.value != ""

                  .facet
                    -if params.has_key?('license_codes') && params['license_codes'].include?(row.value)
                      %input(type="checkbox" class="checkFacet checkFacetGroup license_facet" name="license_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                        = Dataset.license_name_from_code(row.value)
                        ="(#{row.count})"
                    -else
                      %input(type="checkbox" class="checkFacet checkFacetGroup license_facet" name="license_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                        = Dataset.license_name_from_code(row.value)
                        ="(#{row.count})"


        -if current_user && current_user.role == 'admin'
          .panel-group
            .panel.panel-default
              .panel-heading
                %h4(class="panel-title")
                  Visibility
              .panel-body
                -for row in @search.facet(:visibility_code).rows
                  .facet
                    -if params.has_key?('visibility_codes') && params['visibility_codes'].include?(row.value)
                      %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=true)
                      = Dataset.visibility_name_from_code(row.value)
                      ="(#{row.count})"
                    -else
                      %input(type="checkbox" class="checkFacet checkFacetGroup publication_state_facet" name="visibility_codes[]" value="#{row.value}" onchange="handleFilterChange()" checked=false)
                        = Dataset.visibility_name_from_code(row.value)
                        ="(#{row.count})"

    .col-md-7
      -@search.each_hit_with_result do |hit, dataset|
        = render 'brief_record', dataset:dataset