.dataset-files
  .panel-group(id="files" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="headingOne")
        %a(role="button" data-toggle="collapse" data-parent="#files" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle")
          %h2#files-label.panel-title.metadata-label Files
      %div(class="panel-collapse.collapse.in" id="collapseOne" role="tabpanel" aria-labelledby="headingOne")
        .panel-body
          =render partial: 'file_restriction_alert', locals: {dataset: dataset}
          - if dataset.publication_state == Databank::PublicationState::RELEASED && globus_only && !dataset.globus_downloadable?
            =render partial: 'globus_delay_alert' , locals: {dataset: dataset}
          -if((can? :view_files, dataset) || shared_by_link)
            %form(role="form" aria-labelledby="files-label" )
              .form-group(id="select-files-form-group")
                %table(id="show-files-table" class="table table-striped" aria-label="dataset files" )
                  %thead
                    %tr
                      %th(aria-label="File Name")
                      %th(aria-label="File Size")
                      %th(aria-label="Preview")
                      %th(aria-label="Download")
                  %tbody
                    -if dataset.aggregate_downloadable?
                      %tr.row
                        %td
                          .row
                            .col-md-4
                              -if dataset.fileset_preserved?
                                %button(class="btn btn-primary" type="button" onclick="offerDownloadLink()")
                                  %span.glyphicon.glyphicon-download
                                  Get Custom Zip and Download Link for Selected
                                  %span.checkFileSelectedCount
                                %br
                                %label(for="checkAllFiles")
                                  %input(type="checkbox" id="checkAllFiles" value="checkAllFiles")
                                  Select all
                            .col-md-4
                              -if dataset.globus_downloadable?
                                =link_to "#{image_tag("globus.png", size: "24x18", "aria-hidden": true, "alt": "Globus logo")} Open in Globus".html_safe, "/datasets/#{dataset.key}/open_in_globus", target: "_blank", class: "btn btn-primary idb"
                                %a(href="/guides#upload_globus" target="_blank" )
                                  %span(class="far fa-question-circle")
                                  %span(class="idb-help-prompt" )
                                    what's this?

                    -if dataset.datafiles.count > 0 && dataset.datafiles.count <= 500
                      - dataset.complete_datafiles.each do |datafile|
                        %tr.row
                          %td
                            .row.checkbox
                              %span.col-md-6
                                -# check globus_only
                                -if dataset.fileset_preserved?

                                  %input(type="checkbox" class="checkFile checkFileGroup" id="#{datafile.web_id}_file_name" name="selected_files[]" value="#{datafile.web_id}" onchange="handleCheckFileGroupChange()")
                                  %label(for="#{datafile.web_id}_file_name")
                                    = datafile.bytestream_name
                                -else
                                  = datafile.bytestream_name

                              %span.col-md-2
                                = number_to_human_size(datafile.bytestream_size)

                              %span.col-md-2

                                -if datafile.all_txt? || datafile.markdown?
                                  %span
                                    %button(type='button' id="preview_btn_#{datafile.web_id}" class='btn btn-sm btn-success' onclick='preview("#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View

                                -if datafile.part_txt?
                                  %span
                                    %button(type='button' id="preview_btn_#{datafile.web_id}" class='btn btn-sm btn-success' onclick='preview("#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View First Lines

                                -elsif datafile.archive? && datafile.peek_text && datafile.peek_text != ""
                                  %span
                                    %button(type='button' id="preview_btn_#{datafile.web_id}" class='btn btn-sm btn-success' onclick='preview("#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      List Contents

                                -elsif datafile.pdf?
                                  %span(id="preview_btn_#{datafile.web_id}")
                                    %a(href="/datafiles/#{datafile.web_id}/view" target="_blank" class="btn btn-sm btn-success idb")
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View
                                -elsif datafile.microsoft?
                                  %span(id="preview_btn_#{datafile.web_id}")
                                    %a(href="#{datafile.microsoft_preview_url}" target="_blank" class="btn btn-sm btn-success idb")
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View
                                -elsif datafile.image?
                                  %span(id="preview_img_btn_#{datafile.web_id}")
                                    %button(type='button' class='btn btn-sm btn-success' onclick='preview_image("#{IDB_CONFIG[:iiif][:preview_root]}","#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View
                              %span.col-md-2
                                %a(href="/datafiles/#{datafile.web_id}/download" class="btn btn-primary btn-sm idb" aria-label="download #{datafile.bytestream_name}" )
                                  %span.glyphicon.glyphicon-download
                                  File
                            .row
                              .indent
                                .preview(id="preview_#{datafile.web_id}")
                            .row.loading.text-center
                              %i(class="far fa-spinner fa-spin fa-4x view-load-spinner spinner_#{datafile.web_id}" )
                      - if dataset.incomplete_datafiles.count.positive? && (can? :update, dataset)
                        %jumbotron
                        Incomplete files uploads found, please
                        =link_to("contact", "/contact")
                        the Research Data Service for help if this is unexpected.
                      - if (can? :update, dataset)
                        - dataset.incomplete_datafiles.each do |datafile|
                          %tr.row
                            %td(class="#{datafile.upload_complete? ? 'uploadComplete' : 'completion-warning' }")
                              .row
                                %span.col-md-6
                                  = datafile.bytestream_name
                                %span.col-md-3
                                  = datafile.bytestream? ? "exists in storage" : "incomplete--edit dataset to manage"
                                -if datafile.bytestream?
                                  .col-md-2
                                    = number_to_human_size(datafile.bytestream_size)
                                  .col-md-2
                                    %a.btn.btn-primary.btn-block.idb{href: "#{IDB_CONFIG[:root_url_text]}/datafiles/#{datafile.web_id}/download_no_record", "aria-label": "download #{datafile.bytestream_name}" }
                                      %span{class: "glyphicon glyphicon-download"}
                                      File
                    -elsif dataset.datafiles.count > 500
                      %jumbotron
                        Error displaying files because there are more than 500, please
                        =link_to("contact", "/contact")
                        the Research Data Service
                    -elsif dataset.datafiles.count.zero?
                      %jumbotron
                        No files found
      -if dataset.has_external_files?
        =render partial: 'show_external_files', locals: {dataset: dataset}