.dataset-files
  .panel-group(id="files" role="tablist" aria-multiselectable="true")
    .panel.panel-default
      .panel-heading(role="tab" id="headingOne")
        %h4.panel-title
          %a(role="button" data-toggle="collapse" data-parent="#files" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="accordion-toggle")
            %span(class="metadata-label") Files
      %div(class="panel-collapse.collapse.in" id="collapseOne" role="tabpanel" aria-labelledby="headingOne")
        .panel-body

          =render partial: 'file_restriction_alert', locals: {dataset: dataset}

          -if can? :view_files, dataset
            %form(role="form" id="select-files-form")
              .form-group(id="select-files-form-group")
                %table(id="show-files-table" class="table table-striped")
                  %tbody
                    -if dataset.fileset_preserved? #|| (dataset.total_filesize && (dataset.total_filesize < Dataset.local_zip_max_size))
                      %tr.row
                        %td
                          .row
                            .col-md-4
                              -if dataset.fileset_preserved?
                                %button(class="btn btn-primary" type="button" onclick="offerDownloadLink()")
                                  %span.glyphicon.glyphicon-download
                                  Get Custom Zip and Download Link for Selected
                                  %span.checkFileSelectedCount

                              -else
                                %button(class="btn btn-primary" type="submit")
                                  %span.glyphicon.glyphicon-download
                                  Zip and Download Selected
                                  %span.checkFileSelectedCount

                          -if dataset.fileset_preserved?
                            .row
                              .checkbox.col-md-4
                                %label
                                  %input(type="checkbox" id="checkAllFiles" value="checkAllFiles")
                                  Select all

                                  ="(#{dataset.complete_datafiles.count})"

                    -if dataset.complete_datafiles.count > 0

                      - dataset.complete_datafiles.each do |datafile|
                        %tr.row
                          %td
                            .row.checkbox

                              %span.col-md-6
                                -if dataset.fileset_preserved? #|| dataset.total_filesize < Dataset.local_zip_max_size
                                  %label
                                    %input(type="checkbox" class="checkFile checkFileGroup" name="selected_files[]" value="#{datafile.web_id}" onchange="handleCheckFileGroupChange()")
                                    = datafile.bytestream_name
                                -else
                                  = datafile.bytestream_name

                              %span.col-md-2
                                = number_to_human_size(datafile.bytestream_size)

                              %span.col-md-2

                                -#-if datafile.is_markdown?
                                -#  %span
                                -#    %button(type='button' id="preview_md_btn_#{datafile.web_id}" class='btn btn-sm btn-success' onclick='preview_md("#{datafile.web_id}")')
                                -#      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                -#      View

                                -if datafile.is_all_txt?
                                  %span
                                    %button(type='button' id="preview_btn_#{datafile.web_id}" class='btn btn-sm btn-success' onclick='preview("#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View

                                -if datafile.is_part_txt?
                                  %span
                                    %button(type='button' id="preview_btn_#{datafile.web_id}" class='btn btn-sm btn-success' onclick='preview("#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View First Lines

                                -elsif datafile.is_archive? && datafile.peek_text && datafile.peek_text != ""
                                  %span
                                    %button(type='button' id="preview_btn_#{datafile.web_id}" class='btn btn-sm btn-success' onclick='preview("#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      List Contents

                                -elsif datafile.is_pdf?
                                  %span(id="preview_btn_#{datafile.web_id}")
                                    %a(href="/datafiles/#{datafile.web_id}/view" target="_blank" class="btn btn-sm btn-success idb")
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View
                                -elsif datafile.is_microsoft?
                                  %span(id="preview_btn_#{datafile.web_id}")
                                    %a(href="#{datafile.microsoft_preview_url}" target="_blank" class="btn btn-sm btn-success idb")
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View
                                -elsif datafile.is_image?
                                  %span(id="preview_img_btn_#{datafile.web_id}")
                                    %button(type='button' class='btn btn-sm btn-success' onclick='preview_image("#{IDB_CONFIG[:iiif_root]}","#{datafile.web_id}")')
                                      %span.glyphicon.glyphicon-eye-open(id="preview_glyph_#{datafile.web_id}")
                                      View


                              %span.col-md-2
                                %a(href="/datafiles/#{datafile.web_id}/download" class="btn btn-primary btn-sm idb" download )
                                  %span.glyphicon.glyphicon-download
                                  File

                            .row
                              .indent
                                -#-if datafile.is_markdown?
                                -#  .markdown_preview(id="preview_#{datafile.web_id}")
                                -#    =raw(datafile.peek_text)
                                -#-else
                                .preview(id="preview_#{datafile.web_id}")


                            .row.loading.text-center
                              %i(class="far fa-spinner fa-spin fa-4x view-load-spinner spinner_#{datafile.web_id}" )
          -if @dataset.globus_downloadable?
            %a(href="#{@dataset.globus_download_dir}" class="btn btn-primary idb" )
              Download from Globus
            -#%a(href="#" data-toggle="modal" data-target="#globusModal" tabindex="-1" )
            -#  %span(class="far fa-question-circle")
            -#    what's this?