#versionfiles-form
  .panel-group(id="vfiles" role="tablist" aria-multiselectable="true" style="display: #{@dataset.version_files.count > 0 ? 'block' : 'none' }")
    .panel.panel-default
      .panel-heading#vfilesHeading{role:"tab"}
        %h4.panel-title
          %a(class="accordion-toggle" role="button" data-toggle="collapse" data-parent="#vfiles" href="#collapseVFiles" aria-expanded="true" aria-controls="collapseFiles" )
            %span.metadata-label Select which files should be included in the new version.
      .panel-collapse.collapse.in(id="collapseVFiles" role="tabpanel" aria-labelledby="vfilesHeading" )
        .panel-body
          %table.table.table-striped#versionfiles
            %tbody
              %tr.row
                %td.col-md-2
                  %input#checkAllVFiles{type: "checkbox"}
                    Select all
                    =surround "(", ")" do
                      %span#datafilesCount
                        = @dataset.version_files.count
              -@dataset.version_files.each do |version_file|
                = f.fields_for :version_files, version_file do |vf|
                  %tr.row
                    %td.col-md-2
                      = vf.hidden_field :id
                      = vf.check_box :selected, class: "checkVFile checkVFileGroup"
                    %td.col-md-8
                      = version_file.source_datafile.bytestream_name
                    %td.col-md-2
                      = number_to_human_size(version_file.source_datafile.bytestream_size)
