= render 'brief_record', dataset:@dataset
.panel-group(id="permissions" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="permissionsHeading")
      %h4(class="panel-title")
        %a(role="button" data-toggle="collapse" data-parent="#access" href="#permissionsPanel" aria-expanded="false" aria-controls="permissionsPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) Permissions
    .panel-collapse.collapse.in(id="permissionsPanel" role="tabpanel" aria-labelledby="permissionsHeading" )
      .panel-body
        %strong Groups allowed to review this dataset, even when in a draft, held, or embargoed state:
        %hr
        =form_tag("/datasets/#{@dataset.key}/update_permissions", method: :post) do
          %input(type="hidden" name="permission_action" value="update_permission" )
          .row
            .col-md-1
              .pull-right
                -if @dataset.data_curation_network
                  %input(type="checkbox" name="can_read[]" value="#{Databank::UserRole::NETWORK_REVIEWER}" checked="checked")
                -else
                  %input(type="checkbox" name="can_read[]" value="#{Databank::UserRole::NETWORK_REVIEWER}")
            .col-md-3
              Data Curation Network (DCN)
          %hr
          %strong Reviewer Email Addresses:

          -@dataset.reviewer_emails.each do |email|
            .row
              .col-md-1
                .pull-right
                  %input(type="checkbox" name="reviewer_emails[]" value="#{email}" checked="checked")
              .col-md-3
                =email
          %div#newReviewersDiv
          .row
            .col-md-3.col-md-offset-1
              %input(type="email" name="newReviewer" id="newReviewer" class="form-control" placeholder="enter email address then click Add")
            .col-md-2
              %button(type="button" class= "btn btn-success" onclick="addReviewerRow()")
                Add
          %hr
          %strong Editor Email Addresses:

          -@dataset.editor_emails.each do |email|
            .row
              .col-md-1
                .pull-right
                  %input(type="checkbox" name="editor_emails[]" value="#{email}" checked="checked")
              .col-md-3
                =email
          %div#newEditorsDiv
          .row
            .col-md-3.col-md-offset-1
              %input(type="email" name="newEditor" id="newEditor" class="form-control" placeholder="enter email address then click Add")
            .col-md-2
              %button(type="button" class= "btn btn-success" onclick="addEditorRow()")
                Add
          .row
            .col-md-3.col-md-offset-6
              %button(type="submit" class="btn btn-primary") Update
