= render 'brief_record', dataset:@dataset
.panel-group(id="permissions" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="permissionsHeading")
      %h4(class="panel-title")
        %a(role="button" data-toggle="collapse" data-parent="#access" href="#permissionsPanel" aria-expanded="false" aria-controls="permissionsPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) Permissions
    .panel-collapse.collapse.in(id="permissionsPanel" role="tabpanel" aria-labelledby="permissionsHeading" )
      .panel-body
        %strong Groups allowed to review this dataset, even when in a draft, held, or embargoed state:
        %hr
        =form_tag("/datasets/#{@dataset.key}/update_permissions", method: :post) do
          %input(type="hidden" name="permission_action" value="update_permission" )
          .row
            .col-md-1
              .pull-right
                -if @dataset.data_curation_network
                  %input(type="checkbox" name="can_read[]" value="#{Databank::UserRole::NETWORK_REVIEWER}" checked="checked")
                -else
                  %input(type="checkbox" name="can_read[]" value="#{Databank::UserRole::NETWORK_REVIEWER}")
            .col-md-3
              Data Curation Network (DCN)
          %hr
          %strong Internal Reviewer NetIDs:

          -@dataset.internal_reviewer_netids.each do |netid|
            .row
              .col-md-1
                .pull-right
                  %input(type="checkbox" name="internal_reviewer[]" value="#{netid}" checked="checked")
              .col-md-3
                =netid
          %div(id="newInternalReviewersDiv")
          .row
            .col-md-3.col-md-offset-1
              %input(type="text" name="newInternalReviewer" id="newInternalReviewer" class="form-control" placeholder="enter netid then click add")
            .col-md-2
              %button(type="button" class= "btn btn-success" onclick="addInternalReviewerRow()")
                Add
          %hr
          %strong Internal Editor NetIDs:

          -@dataset.internal_editor_netids.each do |netid|
            .row
              .col-md-1
                .pull-right
                  %input(type="checkbox" name="internal_editor[]" value="#{netid}" checked="checked")
              .col-md-3
                =netid
          %div(id="newInternalEditorsDiv")
          .row
            .col-md-3.col-md-offset-1
              %input(type="text" name="newInternalReviewer" id="newInternalEditor" class="form-control" placeholder="enter netid then click add")
            .col-md-2
              %button(type="button" class= "btn btn-success" onclick="addInternalEditorRow()")
                Add
          .row
            .col-md-3.col-md-offset-6
              %button(type="submit" class="btn btn-primary") Update
