-if Databank::Application.file_mode == Databank::FileMode::READ_ONLY
  .alert.alert-alert
    =SystemMessage.read_only_message.raw
%h2 Information you should know before requesting a new version of your dataset
%br
%p
  %strong A new version allows you to:
%ul
  %li
    %p Change or remove a published file.
  %li
    %p Add a new file to an existing publication.
  %li
    %p Update the descriptive information about your publication to reflect changes to your files.
%br
%p
  %strong
    To save you time and effort, your request will be reviewed by a curator who will ensure that a new version is the best way to make changes to your dataset.
  If approved, the Illinois Data Bank will create a draft of the new version using information from your existing published dataset. A curator will email you within 1-2 business days with instructions for editing the new draft version and submitting it for publication. If a new version isn’t the right solution for your dataset, a curator will work with you to find the best approach.
%h3 Common Questions about Versioning
-# files
.panel-group(id="files" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="filesHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#files" href="#filesPanel" aria-expanded="false" aria-controls="filesPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) What if I don’t need to change my files? (click to expand)
    .panel-collapse.collapse(id="filesPanel" role="tabpanel" aria-labelledby="filesHeading" )
      .panel-body
        %p
          You can update the descriptive information about your dataset that appears on the Illinois Data Bank website (e.g., Dataset Description, Keywords, etc.) without creating a new version. To get started, navigate back to your data publication and click the green ‘Edit’ button in the upper right.
-# time
.panel-group(id="time" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="timeHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#time" href="#timePanel" aria-expanded="false" aria-controls="timePanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) How long does it take to publish a new version? (click to expand)
    .panel-collapse.collapse(id="timePanel" role="tabpanel" aria-labelledby="timeHeading" )
      .panel-body
        %p
          It takes 1-2 business days to approve your request and create a new version draft. After that, you will be able to make any necessary edits and submit it for pre-publication review. A curator will review your draft and make sure that all versions of your data are connected to each other correctly. This typically only takes a few business days. If your request is urgent, please
          %a.bright(href="#{IDB_CONFIG[:root_url_text]}/contact")
            %span(class="glyphicon glyphicon-envelope" )
            contact the Research Data Service team
          immediately, and we can suppress the current published version of your dataset from public view while the new version is being created.
-# old
.panel-group(id="old" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="oldHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#old" href="#oldPanel" aria-expanded="false" aria-controls="oldPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) Will the old version of my data remain in the Illinois Data Bank? (click to expand)
    .panel-collapse.collapse(id="oldPanel" role="tabpanel" aria-labelledby="oldHeading" )
      .panel-body
        %p
          Yes, any old versions of your dataset will remain available in the Illinois Data Bank. While we retain these versions for sake of provenance, old versions can be suppressed from public view if necessary (see below). Either way, any links or citations to your existing publications will continue to work after you publish a new version.
-# remove
.panel-group(id="remove" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="removeHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#remove" href="#removePanel" aria-expanded="false" aria-controls="removePanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) What if I need to remove an old version? (click to expand)
    .panel-collapse.collapse(id="removePanel" role="tabpanel" aria-labelledby="removeHeading" )
      .panel-body
        %p
          In rare and extenuating circumstances, the Illinois Data Bank can suppress harmful or sensitive data that was published by by mistake. If that’s the case,
          %a.bright(href="#{IDB_CONFIG[:root_url_text]}/contact")
            %span(class="glyphicon glyphicon-envelope" )
            contact the Research Data Service team
          immediately.
-# doi
.panel-group(id="doi" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="doiHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#doi" href="#doiPanel" aria-expanded="false" aria-controls="doiPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) Will the new version get a new Digital Object Identifier (DOI) (click to expand)
    .panel-collapse.collapse(id="doiPanel" role="tabpanel" aria-labelledby="doiHeading" )
      .panel-body
        %p
          Yes, your new version will receive a new DOI that is identical to your original DOI except for the version number. For example, if the DOI for version 1 of your dataset is10.13012/B2IDB-1234567_V1, the DOI for version 2 would be 10.13012/B2IDB-1234567_V2.
-# identifier
.panel-group(id="identifier" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="identifierHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#identifier" href="#identifierPanel" aria-expanded="false" aria-controls="identifierPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) Can I change my published data without getting a new DOI? (click to expand)
    .panel-collapse.collapse(id="identifierPanel" role="tabpanel" aria-labelledby="identifierHeading" )
      .panel-body
        %p The version number must change in the DOI, although the rest remains the same. This is because people may have already downloaded and used your data, so using the exact same DOI would mean there's no way for them or others to know if the old or the new dataset was accessed or referenced.
-# newest
.panel-group(id="newest" role="tablist" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(role="tab" id="newestHeading")
      %h4(class="panel-title")
        %a( role="button" data-toggle="collapse" data-parent="#newest" href="#newestPanel" aria-expanded="false" aria-controls="newestPanel" class="accordion-toggle collapsed" )
          %span( class="metadata-label" ) How will users know which version is the newest? (click to expand)
    .panel-collapse.collapse(id="newestPanel" role="tabpanel" aria-labelledby="newestHeading" )
      .panel-body
        %p
          Each version of your dataset gets its own record in the Illinois Data Bank, and a versions section clearly lists all versions from newest to oldest, including: the version number, DOI, publication date, and a comment summarizing the difference between versions
          =surround '(', ').' do
            %a(href="https://databank.illinois.edu/datasets/IDB-5547365") see example
          When an old version is accessed, a banner will appear at the top of the page directing users to the newest version of the dataset available.
.indent
  %p
    If you need immediate assistance or have additional questions, please
    =succeed "." do
      %a.bright(href="#{IDB_CONFIG[:root_url_text]}/contact")
        %span(class="glyphicon glyphicon-envelope" )
        contact the Research Data Service team
    We would love to talk about your data.
%hr

-if Databank::Application.file_mode != Databank::FileMode::READ_ONLY
  .row
    .col-md-3.col-md-offset-9
      =link_to("/datasets/new?context=version&previous=#{@previous.key}", class: "btn btn-primary btn-block idb") do
        Continue
        %span(class="glyphicon glyphicon-triangle-right" )
      =link_to("/contact", class: "btn btn-success btn-block idb") do
        %span(class="glyphicon glyphicon-question-sign" )
        Get Help
      =link_to("/datasets/#{@previous.key}", class: "btn btn-block btn-danger idb", name: "cancel", id: 'cancel-button') do
        %span(class="glyphicon glyphicon-remove")
        Cancel
      %br
