%h1 Pre-Deposit Considerations

-if Databank::Application.file_mode == Databank::FileMode::READ_ONLY
  .alert.alert-alert
    =SystemMessage.read_only_message.raw
.panel-group(id="large" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(id="largeHeading")
      %a( role="button" data-toggle="collapse" data-parent="#large" href="#largePanel" aria-expanded="false" aria-controls="largePanel" class="accordion-toggle collapsed" )
        %h2.panel-title Large Files
        %span( class="metadata-label" )Files larger than 50 GB require special handling. (click to expand)
    .panel-collapse.collapse(id="largePanel" role="tabpanel" aria-labelledby="largeHeading" )
      .panel-body
        %p
          For files larger than 50 GB, please fill out our
          %a(href= "/datasets/file_transfer_request" )
            large file transfer request form
          or
          %a(href="mailto:databank@library.illinois.edu") email us
          to learn more about file transfer options. 
.panel-group(id="license" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(id="licenseHeading")
      %a( role="button" data-toggle="collapse" data-parent="#license" href="#licensePanel" aria-expanded="false" aria-controls="licensePanel" class="accordion-toggle collapsed" )
        %h2.panel-title License Selection
        %span.panel-title( class="metadata-label" )You will need to select a license for your dataset. (click to expand)
    .panel-collapse.collapse(id="licensePanel" role="tabpanel" aria-labelledby="licenseHeading" )
      .panel-body
        %p
          Datasets are complex objects, and understanding how copyright law applies to datasets is similarly complex.
          %br
          For more background on Research Data Copyright and Licensing, review our help section on the topic:
          %a(href="#{IDB_CONFIG[:root_url_text]}/guides#license")
            Research Data Copyright and Licensing
          %br
          Your dataset license options in Illinois Data Bank are:
        =render partial: '/datasets/help/license_infographic'
        %p
          %a(href="https://creativecommons.org/publicdomain/zero/1.0/" target="_blank" ) Find out more about CCO
          %br
          %a(href="https://creativecommons.org/licenses/by/4.0/" target="_blank" ) Find out more about CC BY
          %br
          %span(class="strong") If you choose to use a license.txt file, upload it with your other dataset files.

= render partial: 'grouping_panel'
= render partial: 'zipping_panel'
.panel-group(id="contact" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(id="contactHeading")
      %a( role="button" data-toggle="collapse" data-parent="#contact" href="#contactPanel" aria-expanded="false" aria-controls="contactPanel" class="accordion-toggle collapsed" )
        %h2.panel-title Select Primary Contact
        %span( class="metadata-label" ) You will need to select a long-term primary contact for your dataset. (click to expand)
    .panel-collapse.collapse(id="contactPanel" role="tabpanel" aria-labelledby="contactHeading" )
      .panel-body
        =render partial: "select_contact_info"

.panel-group(id="embargo" aria-multiselectable="true")
  .panel.panel-default
    .panel-heading(id="embargoHeading")
      %a( role="button" data-toggle="collapse" data-parent="#embargo" href="#embargoPanel" aria-expanded="false" aria-controls="embargoPanel" class="accordion-toggle collapsed" )
        %h2.panel-title Delaying Publication
        %span( class="metadata-label" ) You will be offered the option to delay publication of your dataset. (click to expand)
    .panel-collapse.collapse(id="embargoPanel" role="tabpanel" aria-labelledby="embargoHeading" )
      .panel-body
        %p
          Due to publisher or other requirements, researchers may need to deposit their dataset but make it temporarily unavailable for download.
          %br
          For more guidance, review our help section on the topic:
          %a(href="#{IDB_CONFIG[:root_url_text]}/guides#embargo") Delaying Publication of/embargoing your dataset
        %p
          By default, there is no publication delay.  Your other options are:
          =render partial: '/datasets/help/embargo_infographic'
.indent
  %h2 Help Options
  %p.large-text The Research Data Service has data publishing experts and we're here to help!

  %h3 Guides
  %p
    Guidance will continue to be available to you throughout this process.  To review any of this information, open the
    %a(href="#{IDB_CONFIG[:root_url_text]}/guides" )
      %span.glyphicon.glyphicon-question-sign
      Guides
    menu at the top of each page.
  %p
    For context-specific help, click the question icon
    %a(href="#{IDB_CONFIG[:root_url_text]}/guides" )
      %span.far.fa-question-circle
    near form elements for additional details.
  %h3 Contact Us
  %p
    If you have questions or need assistance, please fill out our
    %a(href="https://forms.illinois.edu/sec/1628290621" )
      consultation request form
    or
    = succeed "." do
      %a(href="mailto: databank@library.illinois.edu")
        email us
-if Databank::Application.file_mode != Databank::FileMode::READ_ONLY
  .row.line-above
    .col-md-3.col-md-offset-9
      %button(type="button" class="btn btn-primary btn-block" onclick='window.location = "/datasets/new"' )
        Continue
        %span(class="glyphicon glyphicon-triangle-right" )
      %button(type="button" class="btn btn-danger btn-block" name="cancel" onclick='window.location = "/"' )
        %span(class="glyphicon glyphicon-remove" )
        Cancel
      %br
