!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      Hello,
    %p
      Thank you for depositing your dataset in the Illinois Data Bank on #{(@dataset.ingest_datetime).to_date.iso8601}. We
      are writing to let you know that your release date, #{(@dataset.release_date).to_date.iso8601}, is coming up in
      one month. If you need to change your release date, you may be able to do so here:
      = succeed "." do
        %a{:href => "#{IDB_CONFIG[:root_url_text]}/datasets/#{@dataset.key}/edit"} edit dataset
      = succeed "." do
        %a{:href => "mailto:databank@library.illinois.edu"} databank@library.illinois.edu
    = render partial: "sigblock_html"
