!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    Name: #{@dataset.depositor_name}
    %br/
    Email: #{@dataset.depositor_email}
    %br/
    Topic: New Version Request
    %br/
    Dataset:
    %a{:href => "#{@dataset.databank_url}"}
      = @dataset.databank_url
    %hr/
    %h2 New Version Request
    %hr/
    %blockquote
      %p Version Comment:
      = @dataset.version_comment
      %hr/
      .container
        - @dataset.version_files.each do |version_file|
          .row
            .col-md-6
              = version_file.source_datafile.bytestream_name
            .col-md-2
              = number_to_human_size(version_file.source_datafile.bytestream_size)
            .col-md-2
              -if version_file.selected
                %span.label.label-warning
                  Selected
              -else
                %span.label.label-default
                  Not Selected
