Name: #{@dataset.depositor_name}
Email: #{@dataset.depositor_email}
Topic: New Version Request
Dataset: "#{@dataset.databank_url}"

New Version Request
  
Version Comment:
= @dataset.version_comment

Files:
- @dataset.version_files.each do |version_file|
  - name = version_file.source_datafile.bytestream_name
  - size = number_to_human_size(version_file.source_datafile.bytestream_size)
  - selected = version_file.selected ? "Selected" : "Not Selected"
  = "#{name} | #{size} | #{selected}"