%h1 Listing ingest_responses

%table
  %thead
    %tr
      %th As text
      %th Status
      %th Response time
      %th Staging key
      %th Medusa key
      %th Uuid
      %th
      %th
      %th

  %tbody
    - @ingest_responses.each do |ingest_response|
      %tr
        %td= ingest_response.as_text
        %td= ingest_response.status
        %td= ingest_response.response_time
        %td= ingest_response.staging_key
        %td= ingest_response.medusa_key
        %td= ingest_response.uuid
        %td= link_to 'Show', ingest_response
        %td= link_to 'Edit', edit_ingest_response_path(ingest_response)
        %td= link_to 'Destroy', ingest_response, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Ingest response', new_ingest_response_path
