=render partial: "shared/welcome_overlay"
.container-fluid
  .welcome
    .row
      .col-md-8
        = render partial: "welcome/welcome_body"
      -if @featured_researcher
        .col-md-4.featured-researcher
          %h2 Researcher Spotlight
          .featured-bio
            -if @featured_researcher.photo_url && @featured_researcher.photo_url != ""
              .photo-preview
                %img(src="#{@featured_researcher.photo_url}" class="img-responsive" alt="featured researcher photo" )

            %strong
              = @featured_researcher.name
            = @featured_researcher.bio.html_safe

          .featured-buttons
            -if @featured_researcher.dataset_url && @featured_researcher.dataset_url != ''
              %button(type="button" class="btn btn-primary btn-block" onclick="window.open('#{@featured_researcher.dataset_url}')" )
                %span(class="glyphicon glyphicon-tasks" )
                &nbsp;
                dataset
            -if @featured_researcher.article_url && @featured_researcher.article_url != ''
              %button(type="button" class="btn btn-primary btn-block" onclick="window.open('#{@featured_researcher.article_url}')" )
                %span(class="glyphicon glyphicon-file" )
                &nbsp;
                article

          .featured-comment
            %strong
              = @featured_researcher.question
            .elbow
              = @featured_researcher.testimonial.html_safe

          %hr
          %p
            %a(href="/researcher_spotlights" class="btn btn-default") See all researcher spotlights
      -else
        .col-md-4.featured-researcher
          %h2 Researcher Spotlight
          %p
            The Illinois Data Bank features researchers who deposit data. Check back soon for our next spotlight.
          %hr
          %p
            %a(href="/researcher_spotlights" class="btn btn-default") See all researcher spotlights