= "User-Agent: Amazonbot"               # Amazon's user agent
= "Disallow: /do-not-crawl/"            # disallow this directory

- if Rails.env == "production"
  = "User-Agent: *\n"
  = "Disallow: /datafiles"
  = "Disallow: */download"
  = "Disallow: */preview"
  = "Disallow: */view"
- else
  = "User-Agent: *\n"
  = "Noindex: /\n"

= "\nSitemap: #{root_url}sitemap.xml"