= "User-agent: Amazonbot"               # Amazon's user agent
= "Disallow: /do-not-crawl/\n"            # disallow this directory

- if Rails.env == "production"
  = "User-agent: *"
  = "Disallow: /datafiles"
  = "Disallow: */download"
  = "Disallow: */preview"
  = "Disallow: */view"
- else
  = "User-agent: *"
  = "noindex: /"

= "\nSitemap: #{root_url}sitemap.xml"