#access_and_use.bs-callout.bs-callout-info.idb-help
  %br/
  %hr/
  %h2 Access and Use Policy
  %hr/
  %h3 Purpose of this Policy
  %p
    The document outlines the Illinois Data Bank's commitment to facilitating access and use of University of
    Illinois at Urbana-Champaign research data, describes the mechanisms the Illinois Data Bank implements to fulfill
    this commitment, and provides those accessing Datasets from the Illinois Data Bank guidance on determining usage
    rights associated with each Dataset.
  %h3 Dissemination of Content
  %p
    The goal of ensuring dissemination of Datasets published in the Illinois Data Bank is fundamental to the Illinois
    Data Bank's mission. In order to uphold the Illinois Data Bank's commitment to facilitating access and use of
    University of Illinois Urbana-Champaign research data, the Illinois Data Bank disseminates its contents through
    as many means as possible including:
  %ul
    %li
      %p
        Facilitating the indexing of Descriptive Metadata by search engines.
    %li
      %p
        Providing persistent URLs and assigning Digital Object Identifiers
        (DOIs) for reliable citing and
        discovery of published Datasets.
    %li
      %p
        Registering Descriptive Metadata with the DataCite Metadata Store (
        %a{:href => "https://mds.datacite.org"}> https://mds.datacite.org
        ) for discovery of the content by harvesters and
        individuals seeking public information about Datasets.
  %p
    The Illinois Data Bank is committed to investigating and implementing new methods for further dissemination of
    its contents as warranted.
  %h3 Access to Content
  %p
    Datasets published in the Illinois Data Bank are discoverable and openly available to anyone with access to the
    World Wide Web. Data Files and Metadata Files are provided at least in the original format deposited. When
    appropriate, items in proprietary formats may be converted to formats that can be opened and read using freely
    available software. When Data Files and/or Metadata Files in a Dataset are made available in a converted format,
    Research Data Service staff will document the conversion in the Dataset's associated Descriptive Metadata and/or
    Metadata File(s).
  %h3 Tracking Use of Content
  %p
    The Illinois Data Bank uses Google Analytics, a web analytics service provided by Google, Inc. ("Google"), which
    collects information, including device information and IP addresses, using cookies or similar technologies. The
    information collected will be transmitted to, and stored by, Google on servers in the United States. Google will
    use this information to support the University in evaluating use of the Illinois Data Bank website, compiling
    reports on website activity for website operators, and providing other services relating to website activity and
    Internet usage. Google may also transfer this information to third parties where required to do so by law, or
    where such third parties process the information on Google's behalf.
  %p
    Illinois Data Bank users who do not want their data collected by the Google Analytics may wish to block the
    service by installing the Google Analytics opt-out browser add-on
    (
    %a{:href => "https://tools.google.com/dlpage/gaoptout"}> https://tools.google.com/dlpage/gaoptout
    ). This add-on
    instructs the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) to prohibit sending information to Google
    Analytics. Please note that refusing the use of cookies or disallowing Javascript, either by selecting the
    appropriate settings on your browser or by installing various third-party add-ons or extensions, may impede the
    ability to use the full functionality of this website.
  %p Users of the Illinois Data Bank consent to the collection and storing of data about the users by Google in the manner and for the purposes set out above.
  %h4 For more information, please read:
  %ul
    %li
      %p
        The University of Illinois Web Privacy Notice (
        %a{:href => "http://www.vpaa.uillinois.edu/policies/web_privacy.cfm"}> http://www.vpaa.uillinois.edu/policies/web_privacy.cfm
        )
    %li
      %p
        Google Analytics privacy policy (
        %a{:href => "http://www.google.com/analytics/learn/privacy.html"}> http://www.google.com/analytics/learn/privacy.html
        )
    %li
      %p
        Google Analytics opt-out browser add-on (
        %a{:href => "https://support.google.com/analytics/answer/181881"}> https://support.google.com/analytics/answer/181881
        )
    %li
      %p
        More about cookies (
        %a{:href => "http://en.wikipedia.org/wiki/HTTP_cookie"}> http://en.wikipedia.org/wiki/HTTP_cookie
        )
  %h3 Copyright and Licensing
  %p
    Creators of Datasets deposited in the Illinois Data Bank to which copyright applies (see Illinois Data Bank Help
    section:
    = succeed ")" do
      %a{:href => "/guides#license"} Research Data Copyright and Licensing
  %p
    Datasets in Illinois Data Bank may be in the public domain or under a license that explicitly allows specific
    uses of the content. The Illinois Data Bank requires that Depositors define a license for their Dataset at the
    time of submission, and licensing information is displayed in the Descriptive Metadata for each Dataset. Creative
    Commons (that is, in this case CC0 or CC BY) licenses are currently recommended as these licenses are emerging as
    best for facilitating Dataset re-use (see
    %a{:href => "/guides#license"}
      Illinois Data Bank Help section:
      Research Data Copyright and Licensing
    for more information). However, given the
    complicated and evolving nature of Dataset licensing, Depositors may also define any license of their choosing by
    uploading a license.txt file (which describes the license they choose to apply) when uploading their Data Files
    and other Metadata Files. This file may include, but is not limited to, other Creative Commons licenses, The
    University of Illinois/NCSA Open Source License, or a non-standard license. The Illinois Data Bank is not
    responsible for the legality, enforceability, or accuracy of Depositor-supplied license.txt files and is not
    accountable for any terms found within the license.txt file.
  %p
    If copyright terms for, or ownership of, the submission change, it is the responsibility of the Depositor to
    notify the Illinois Data Bank of these changes.
  %p
    The Illinois Data Bank waives any and all rights the Illinois Data Bank might have with respect to Descriptive
    Metadata in the Illinois Data Bank. To the extent that the Illinois Data Bank's own contributions to selecting and
    arranging Descriptive Metadata may be protected by
    copyright, the Illinois Data Bank dedicates such contributions to the public domain pursuant to a
    = succeed "." do
      %a{:href => "https://creativecommons.org/publicdomain/zero/1.0/"} CC0 Public Domain Dedication
  %h3 Acknowledgements
  .indent
    %p
      Illinois Digital Environment for Access to Learning and Scholarship (IDEALS).
      = succeed "." do
        %em IDEALS Access and Use Policy
      %a{:href => "http://hdl.handle.net/2142/14157"} http://hdl.handle.net/2142/14157
    %p
      Digital Public Library of America.
      = succeed "." do
        %em
          The Digital Public Library of America Policy Statement on
          Metadata
      %a{:href => "http://web.archive.org/web/20161010190026/https://dp.la/info/wp-content/uploads/2013/04/DPLAMetadataPolicy.pdf"} http://web.archive.org/web/20161010190026/https://dp.la/info/wp-content/uploads/2013/04/DPLAMetadataPolicy.pdf
    %p
      Dataverse.
      = succeed "." do
        %em Harvard Dataverse General Terms of Use
      %a{:href => "https://web.archive.org/web/20160503191434/http://best-practices.dataverse.org/harvard-policies/harvard-terms-of-use.html"} http://best-practices.dataverse.org/harvard-policies/harvard-terms-of-use.html
  %hr/
  %p
    %a{:href => "/contact"} Contact Research Data Service staff
    with questions or to request an addition or
    revision to this policy.
  %table.table.table-bordered
    %caption.policy-document-history
      %h3
        Document History and Version Control Table for Access and Use Policy
    %thead
      %tr
        %th Version
        %th Action
        %th Approved By
        %th Action Date
    %tbody
      %tr
        %td 1.0
        %td Policy issued.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-05-03
      %tr
        %td 1.1
        %td
          Policy reviewed. Minor changes made:
          %br/
          \-Minor wording changes.
          %br/
          \-Descriptive Metadata public domain dedication added.
          %br/
          \-Versioning table added.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-10-11
      %tr
        %td 1.2
        %td
          Policy reviewed. Minor change made:
          %br/
          \-Minor formatting change.
        %td Heidi Imker, Director, Research Data Service
        %td 2017-03-02
      %tr
        %td 1.2
        %td
          Policy reviewed.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2019-06-20
      %tr
        %td 1.2
        %td
          Policy reviewed.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2021-09-13
  %p
    View past and current versions of this document in IDEALS:
    = succeed "." do
      %a{:href => "http://hdl.handle.net/2142/91039"} http://hdl.handle.net/2142/91039
