#preservation_policy.bs-callout.bs-callout-info.idb-help
  %br/
  %hr/
  %h2 Illinois Data Bank Preservation Policy
  %hr/
  %h3 Purpose of this Policy
  %p
    This document outlines the Illinois Data Bank plan for responsible and sustainable stewardship of published
    Datasets. The development of a reliable digital archive that adheres to, and remains compliant with, the standards
    expounded in the Illinois Data Bank Policies remains the best mechanism to support the access of University of
    Illinois at Urbana-Champaign research data.
  %h3 Preservation Objectives
  %p
    The Illinois Data Bank's current objectives are to provide preservation of and access to published research data
    for a minimum of five years after the date of publication in the Illinois Data Bank.
  %p
    The Illinois Data Bank reserves the right to review Datasets five years after their initial publication date to
    determine whether to retain or Deaccession the Data File(s) and/or Metadata File(s). In certain cases of
    retention, preservation review decisions may also trigger preservation actions to ensure the ongoing usability of
    Data Files and/or Metadata Files.
  %p
    The Illinois Data Bank currently plans to retain Descriptive Metadata persistently for all Datasets deposited in
    the Illinois Data Bank regardless of the Disposition of Data File(s) and/or Metadata File(s), but the Illinois
    Data Bank reserves the right to a shorter retention period for Descriptive Metadata, but not shorter than the planned retention period,
    which is currently at five years. Details regarding the process for determining whether to retain Datasets beyond
    the five-year commitment period can be found in the
    %a{:href => "#preservation_review"}
      Illinois Data Bank Preservation Review, Revision, Retention, Deaccession, and
      Withdrawal Procedure
    and the
    = succeed "." do
      %a{:href => "#preservation_guidelines"} Preservation Review Guidelines
  %h4 The Illinois Data Bank shall:
  %ul
    %li
      %p
        Provide or participate in a reliable preservation environment for published Datasets, where at least
        one of the Creators is affiliated with the University of Illinois Urbana-Champaign, such as its faculty,
        academic staff, and graduate students.
    %li
      %p
        Provide reliable and consistent access to published Datasets available through the service to
        Depositors, the larger research community, and the public according to the Illinois Data Bank policies.
  %h3 Operating Principles
  %p The Illinois Data Bank shall adhere to the following operating principles:
  %ul
    %li
      %p
        Endeavor to model services after the Open Archival Information System (OAIS) Reference Model (
        %a{:href => "http://public.ccsds.org/publications/archive/650x0m2.pdf"}> http://public.ccsds.org/publications/archive/650x0m2.pdf
        ) for the long-term preservation and access of
        digital collections whenever possible.
    %li
      %p
        Strive for compliance with emerging international standards for managing a reliable digital repository
        infrastructure.
    %li
      %p Adhere to prevailing community standards for preserving access to Datasets whenever possible.
    %li
      %p Participate in the development and implementation of standards.
    %li
      %p
        Commit to an interoperable, scalable digital archive with appropriate storage management for
        Datasets.
    %li
      %p Create policies, procedures, and practices that are clearly documented and consistent.
    %li
      %p
        Strive to maintain hardware, software, and storage media containing archival content in keeping with
        prevailing best practices.
    %li
      %p
        Strive to establish procedures that meet archival requirements, such as clearly documenting and
        maintaining provenance, chain of custody, authenticity, and integrity of Datasets.
    %li
      %p Comply with intellectual property, copyright, and ownership rights for all content.
  %h3 Roles and Responsibilities
  %p
    Development and management of preservation and access for the Illinois Data Bank is accomplished through the
    collaborative efforts of units at the University Library working in accessioning, curation, information
    technology, and systems administration capacities. These groups further work with the Office of the Vice
    Chancellor of Research and Innovation, the National Center for Supercomputing Applications, and other groups as necessary to
    provide adequate managerial and infrastructure commitments to sustain the Illinois Data Bank. The Illinois Data
    Bank's preservation infrastructure is managed by the Library and its Medusa digital preservation repository (see
    below).
  %h3 Preservation Strategies
  %p
    Datasets deposited in the Illinois Data Bank utilize the back-end storage and management services within Medusa,
    the University of Illinois Urbana-Champaign Library's digital preservation repository (
    %a{:href => "https://medusa.library.illinois.edu/"}> https://medusa.library.illinois.edu/
    ). Medusa provides a common storage and management infrastructure for
    digital collections of enduring value to the University. At present, Medusa's collecting focus is on digitized and
    "born digital" books, manuscripts, photographs, audiovisual materials, scholarly publications, and research data
    from the Library's special collections, general collections, and institutional repositories. The University
    Library manages Medusa storage in partnership with the National Center for Supercomputing Applications. Additional
    information about Digital Repository Medusa can be found at the Medusa's FAQs page (
    %a{:href => "https://wiki.cites.illinois.edu/wiki/display/LibraryDigitalPreservation/Medusa+FAQ"}> https://wiki.cites.illinois.edu/wiki/display/LibraryDigitalPreservation/Medusa+FAQ
    ).
  %p
    As is practical and necessary, preservation procedures may also include transformation of Data Files and/or
    Metadata Files into more stable formats and/or migration to successive formats. In the event one or more Data
    Files and/or Metadata Files in a Dataset are made available in a converted format, Research Data Service staff
    will document the conversion in the Dataset's associated Descriptive Metadata and/or Metadata File(s).
  %h3 Addressing Challenges
  %p The Illinois Data Bank plans to address the challenges facing digital repositories as follows:
  %ul
    %li
      %p
        %strong Technological Change:
        By developing a sustainable digital preservation model that
        will respond to technological changes as needed without under- or over-estimating the costs imposed by these
        changes.
    %li
      %p
        %strong Sustainability:
        By developing a sustainable digital preservation model that will deal
        with the technical and management challenges of preserving digital content within the constraints of available
        funding.
    %li
      %p
        %strong Defining Preservation Needs:
        By providing a thoughtful balance among many factors
        including access, functionality, and preservation, while being mindful that preservation is critical to enabling
        long-term access and use.
    %li
      %p
        %strong Ongoing Monitoring of Submitted Material Types and Formats:
        By monitoring different
        needs of the deposited materials (e.g., storage size, file format usability) as different types of materials are
        deposited and maintaining procedures and guidance based on these needs as necessary.
  %h3 Financial Sustainability
  %p
    The University of Illinois Urbana-Champaign makes a financial commitment toward the sustainable preservation
    of published Datasets through funding of the Research Data Service.
  %h3 Technological Sustainability, Security, and Disaster Recovery
  %p
    The University Library is committed to sustaining an effective digital preservation infrastructure for its
    digital collections, which includes the adequate provisioning of appropriate technologies. Planning for this
    infrastructure occurs within the Library's Repository group, in conjunction with Research Data Service staff. To
    minimize service interruption and content loss due to technical failure, the system is designed to eliminate
    single points of failure by providing redundant server components and replication; however, the Illinois Data Bank
    service is provided "as is."
  %ul
    %li
      %p
        %strong Replication of Repository Content:
        Datasets deposited into the Illinois Data Bank are stored in highly durable, available and performant
        object storage, with copies in more than one geographic area.
    %li
      %p
        %strong Geographical Redundancy:
        To minimize loss due to catastrophic hardware failure or
        natural disaster, all repository content is regularly backed up to remote storage to ensure geographic
        redundancy and disaster recovery.
    %li
      %p
        %strong High Availability:
        The Library's repository services are designed to quickly recover
        from the failure of some of its components and to continue working to a level of satisfaction in the presence
        of hardware or software failure.
  %h3 Acknowledgements
  %ul
    %li
      %p
        Illinois Digital Environment for Access to Learning and Scholarship (IDEALS).
        = succeed "." do
          %em IDEALS Digital Preservation Policy
        %a{:href => "http://hdl.handle.net/2142/2383"} http://hdl.handle.net/2142/2383
    %li
      %p
        Data Repository for the U of M (DRUM).
        = succeed "." do
          %em DRUM Policies and Terms of Use, Preservation Policy
        %a{:href => "https://conservancy.umn.edu/pages/drum/policies/"} https://conservancy.umn.edu/pages/drum/policies/
    %li
      %p
        Roper Center for Public Opinion Research.
        = succeed "." do
          %em Roper Center for Public Opinion Research Digital Preservation Policy
        %a{:href => "https://web.archive.org/web/20160504194518/http://ropercenter.cornell.edu/digital-preservation-policy/"} http://ropercenter.cornell.edu/digital-preservation-policy/
    %li
      %p
        Inter-university Consortium for Political and Social Research (ICPSR).
        = succeed "." do
          %em ICPSR Digital Preservation Policy Framework
        %a{:href => "https://web.archive.org/web/20160504194859/http://www.icpsr.umich.edu/icpsrweb/content/datamanagement/preservation/policies/dpp-framework.html"} http://www.icpsr.umich.edu/icpsrweb/content/datamanagement/preservation/policies/dpp-framework.html
    %li
      %p
        Purdue University Research Repository (PURR).
        = succeed "." do
          %em PURR Digital Preservation Policy
        %a{:href => "https://web.archive.org/web/20150914005748/https://purr.purdue.edu/legal/digitalpreservation"} https://purr.purdue.edu/legal/digitalpreservation
  %hr/
  %p
    %a{:href => "/contact"} Contact Research Data Service staff
    with questions or to request an addition or
    revision to this policy.
  %table.table.table-bordered
    %caption.policy-document-history
      %h3
        Document History and Version Control Table for Preservation Policy
    %thead
      %tr
        %th Version
        %th Action
        %th Approved By
        %th Action Date
    %tbody
      %tr
        %td 1.0
        %td Policy issued.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-05-03
      %tr
        %td 1.1
        %td
          Policy reviewed. Minor changes made:
          %br/
          \-Minor wording adjustments.
          %br/
          \-Versioning table added.
        %td Heidi Imker, Director, Research Data Service
        %td 2016-10-05
      %tr
        %td 1.1
        %td
          Policy reviewed.
        %td Heidi Imker, Director, Research Data Service
        %td 2017-03-02
      %tr
        %td 1.2
        %td
          Policy reviewed. Minor change made:
          %br/
          \-Revised language for clarity.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2019-06-20
      %tr
        %td 1.3
        %td
          Policy reviewed. Minor change made:
          %br/
          \-Wording change on the partner's name.
        %td
          Heidi Imker, Director, Research Data Service
        %td 2021-09-13
  %p
    View past and current versions of this document in IDEALS:
    = succeed "." do
      %a{:href => "http://hdl.handle.net/2142/91039"} http://hdl.handle.net/2142/91039
